{% extends "signapp/base.html" %}

{% load static %}

{% block content %}
{% if signs %}
    {% for sign in signs %}
    <div class="container">
      <div class="row">
        <video playsinline loop muted class="img-thumbnail" width="500" onclick="this.paused ? this.play() : this.pause()">
          <source src="{{ sign.video_url }}"
                    type="video/mp4">
          <p>Video of {{ sign.sign_name }} not found.</p>
        </video>
        <div class="w-100"></div>
        <h3 class="">{{sign.sign_name}}</h3>
      </div>
    </div>
    {% endfor %}
{% endif %}
{% endblock %}
